/* CART STYLES */
#cart {
  display: flex;
  background: #ffeecf;
  height: 100%;
  width: 100%;
}

#products {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  margin-left: 15vw;
  height: fit-content;
}

#products.empty {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

#products .empty-message {
  position: relative;
  top: -20px;
  margin: auto auto;
  color: lightgrey;
}

// .product {
//   width: fit-content;
//   margin: 20px 0;
//   display: grid;
//   border-top: 1px solid #000000af;
//   width: 40vw;
//   min-width: 420px;
//   padding-top: 10px;
//   grid-template-columns: 2fr 2fr 1fr;
// }

.product img {
  width: 225px;
  left: 0;
}

.quantity-select {
  display: flex;
}

.product .product-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  right: 0;
}

.product .delete-button {
  width: fit-content;
  float: right;
}

.product .delete-button:hover {
  cursor: pointer;
}
