#checkout {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffeecf;
  height: 100%;
  margin-top: 55px;
  // margin: 20px auto;
  padding: 20px;
}

#modal {
  xheight: fit-content;
  margin-top: 55px;
  margin-left: 5%;
  margin-right: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  #guestEmailForm {
    display: flex;
    flex-direction: column;
  }
  .login-page-button-close {
    // margin-bottom: 20px;
    // margin-right: 20px;
  }
}

// #modal-close-button {
//   display: flex;
//   align-self: baseline flex-end;
// }

// .login-page-button {
//   display: flex;
//   align-self: baseline flex-end;
// }

#checkout-login {
  display: flex;
  flex-direction: row;
  xjustify-content: baseline;

  align-content: space-between;
  align-items: center;
  background-color: white;
  width: 50vw;
  height: 60vh;
  button {
    // width: 20vw;
    // justify-self: baseline;
    #submit-checkout-unauthorized {
      width: 10vw !important;
    }
  }
}

// #checkout-login {
//   // margin-top: -70px;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // width: 50vw;
//   // height: 50vh;
//   // background: #fff;
// }

#modal-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

#shippingAddressForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  background-color: white;
}

#email-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-top: 1px solid #000000af;
  padding: 20px;
}

#addressOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: green;
}

#checkout-shipping-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

#shippingcontainer {
  width: 50%;
  padding: 20px;
}

.shippingitems {
  margin-left: 2%;
}

.shippingitemsholder {
  width: 100%;
  display: inline-flex;
}
