/* PRODUCT CARD */
.product-card {
  margin: 10px 10px;
  width: 38%;
}

.product-card {
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

.product-card:hover {
  box-shadow: 5px 5px 10px gray;
}

.product-card .image img {
  width: 100%;
  border-radius: 10px;
  // border: 1px solid gray;
}

.product-card .content {
  display: flex;
  flex-direction: column;
}

.product-card .content .header,
.product-card .content .description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-size: 1.5rem;
  margin: 5px;
}

h2 {
  font-size: 1.3rem;
  margin: 5px;
}

.product-info {
  font-size: 14px;
  margin: 5px;
}

.description {
  flex-direction: column;
}
