#userhomeprofileimage {
  border-radius: 50% !important;
  width: 300px;
  height: 300px;
  margin-right: 5%;
}

#userhomewelcomname {
  text-align: center;
  margin: 5%;
}

#user-home {
  margin-top: 7%;
  display: fixed;
}

#user-home-itemgroup {
  display: flex;
}

#userhomeitem {
  margin-top: 2%;
  margin-bottom: 6%;
  margin-left: 20% !important;
  margin-right: 20% !important;
  display: fixed;
}

#userhomeitemcontent {
  justify-content: center;
}

#userhomeitemcontent {
  xtext-align: left;
}

/* address dropdown feature in profile */

.dropbtn {
  color: black;
  display: flex;
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 16px;
  border: none;
  transition: all 0.1s ease-in-out;
  border: none;
  outline: none;
}

.drp {
  width: 90%;
  margin-top: 5%;
  display: inline-block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.drp:hover {
  transform: scale(1.1);
}

.dropdown {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-color: grey;
}

.dropbtn:hover {
  transform: scale(1.1);
}

#dropdowntext {
  justify-content: left;
  text-align: left;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 16px;
}

#addresstablerow {
  margin: 5% !important;
  width: 50%;
  height: 10%;
}

#addressbuttonstablerow {
  display: flex;
}

.buttonpositioningaddress {
  text-align: left;
}

#tablerowaddress {
  border-color: black !important;
}

#userhomebuttons {
  width: 70%;
}

#nonozone {
  display: inline flex;
}

#addressinfoholder {
  display: inline flex;
}
.username {
  margin-bottom: 3.5% !important;
}
