#userhomeprofileimage {
  border-radius: 50% !important;
  width: 300px;
  height: 300px;
}

#userhomewelcomname {
  text-align: center;
  margin: 5%;
}

#user-home {
  margin: 6%;
  display: fixed;
}

#user-home-itemgroup {
  display: flex;
}

#userhomeitem {
  justify-content: center !important;
}

#userhomeitemcontent {
  justify-content: center;
}

#userhomeitemcontent {
  xtext-align: left;
}

/* address dropdown feature in profile */

.dropbtn {
  xbackground-color: #4caf50;
  color: black;
  display: flex;
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 16px;
  border: none;
  transition: all 0.1s ease-in-out;
  border: none;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  xtext-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  border-color: grey;
}

.dropbtn:hover {
  transform: scale(1.1);
}

#dropdowntext {
  justify-content: left;
  text-align: left;
  border: none;
  outline: none;
  text-decoration: none;
}

#addresstablerow {
  margin: 5% !important;
  width: 50%;
  height: 10%;
}

#addressbuttonstablerow {
  display: flex;
}

.buttonpositioningaddress {
  text-align: left;
}

#tablerowaddress {
  border-color: black !important;
}
