* {
  box-sizing: border-box;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ELEMENT POSITIONS + SIZE */

nav {
  display: flex !important;
}

html,
body,
#mount {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* NAVBAR */
#nav-container {
  padding: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #00000033;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  text-align: center;
  z-index: 9999;
}

/* height accomodation */
#all-products,
#cart,
#single-product,
#checkout,
#user-home,
#account-form,
#admin-board,
#form-page {
  top: 0;
  margin-top: 55px;
}

#nav-container nav {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 13pt;
}

#nav-container a {
  text-align: center;
  text-justify: auto;
}
#logo {
  height: 55px;
  padding: 10px;
}

#cart-icon {
  height: 26px;
  opacity: 0.95;
  margin: 0 5px;
  margin-right: 20px;
  transition: all 0.1s ease-in-out;
}

#cart-icon:hover {
  transform: scale(1.1);
}

#user-icon {
  height: 31px;
  opacity: 0.95;
  margin: 0 5px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

#user-icon:hover {
  transform: scale(1.1);
}

.navbartitle {
  transition: all 0.1s ease-in-out;
}

.navbartitle:hover {
  transform: translate(0, -4px);
}

#nav-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

#nav-profile a {
  height: fit-content;
}

/* ALL PRODUCTS */
.ui.grid {
  width: 80%;
  margin: 0 auto !important;
}

/* FILTERS */
#filters {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 15px;
  top: 0;
  margin-top: 85px;
}

#categories {
  margin: 10px 0px;
}

#filters .category {
  margin: 5px 0px;
}
.categoryeditbutton {
  float: right;
}

#categor {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

#newcategorylabel {
  margin-top: 4%;
  margin-bottom: -5%;
}

#instockcategory {
  margin-left: 5%;
}

#searchlabel {
  margin-bottom: 2%;
}

#new-category-form {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: -14px !important;
}

#category-form-holder {
  justify-content: left;
}

#submit-category-holder {
  justify-content: center;
  margin-top: -2%;
}

.category {
  margin: 5% !important;
}

#sort {
  width: 50%;
  margin-left: 5%;
  display: inline-block;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  xbackground: url('');
}

#seach-bar {
  margin-bottom: 5%;
}

/* PRODUCT CARD */
.product-card {
  margin: 25px -10px;
  width: 50%;
}

.product-card .image img {
  width: 100%;
  xborder-radius: 2% 2% 0 0;
}

.product-card .content {
  display: flex;
  flex-direction: column;
}

.product-card .content .header,
.product-card .content .description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.product-card .content * {
  margin: 0px;
  padding: 0px 3px;
}

/* TEXT STYLES */
body {
  font-family: Garamond, 'Times New Roman', Times, serif;
}
h6 {
  color: rgb(123, 123, 123);
}
nav {
  font-variant: small-caps;
  font-weight: bold;
}
a {
  color: rgba(0, 0, 0, 0.95) !important;
  text-decoration: none;
}
.product-card {
  color: #000;
}

/* CART STYLES */
#cart {
  display: flex;
  background: peachpuff;
  height: 100%;
  width: 100%;
}

#products {
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  margin-left: 15vw;
}

.product {
  width: fit-content;
  margin: 20px 0;
  display: grid;
  border-top: 1px solid #000000af;
  width: 40vw;
  min-width: 420px;
  padding-top: 10px;
  grid-template-columns: 2fr 2fr 1fr;
}

.product img {
  width: 225px;
  left: 0;
}

.quantity-select {
  display: flex;
}

.product .product-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  right: 0;
}

.product .delete-button {
  width: fit-content;
  float: right;
}

.product .delete-button:hover {
  cursor: pointer;
}

#bill {
  position: fixed;
  padding: 20px;
  right: 0;
  background-color: #fff;
  margin-right: 14vw;
  margin-top: 20px;
  width: 25vw;
}

#bill-display {
  margin-left: 20px;
}

#paginationHolder {
  margin-top: 5%;
}
